<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HackCMU.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EE096F6E1D8C8F8000B5958D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE096F871D8C8F8000B5958D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE096F921D8C8F8000B5958D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
